<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/addstudent" method="post">
        <input type="text" name="name" placeholder="NAME" id=""></br></br>
        <input type="number" name="age" placeholder="AGE" id=""></br></br>
        <input type="email" name="email" placeholder="EMAIL ADDRESS" id=""></br></br>
        <input type="number" name="mobile"  placeholder="Mobile No."></br></br>
        <button type="submit">SUBMIT</button>
    </form> 
</body>
</html>