<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ADD USER</title>
</head>

<body>
    <form action="/submituser" method="post">
        <input type="text" name="name" placeholder="NAME" id="">
        <input type="number" name="age" placeholder="AGE" id="">
        <input type="email" name="email" placeholder="EMAIL ADDRESS" id="">
        <input type="number" name="mobile"  placeholder="Mobile No.">
        <button type="submit">SUBMIT</button>
    </form>
</body>

</html>