<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SUBMIT USER</title>
</head>

<body>

    <!-- <h1 style="text-align: center;">This is CHACHI</h1> -->
    <h1>Name: <%=name%></h1>
    <h1>Age: <%=age%></h1>
    <h1>Email Address: <%=email%></h1>

</body>

</html>