<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>404</title>
</head>
<body>
    <div style="display: flex; justify-content: center; margin-top: 33px;">
        <img style="width: 372px; height: 372px;" src="https://cdn.vectorstock.com/i/750p/98/62/sad-emoji-face-icon-vector-62059862.avif" alt="">
    </div>

    <div>
        <p style="font-size: 62px; text-align: center; margin-top: -14px;">404</p>
        <p style="font-size: 32px; font-weight: 600; color: gray; text-align: center;margin-top: -24px;">Page Not Found</p>
    </div>
</body>
</html>